.recipes
{
   font-family: "Trebuchet MS", Tahoma, sans-serif;
}


h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

h3
{
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    color: rgb(223, 5, 5);
}

p,ul ,ol
{
    font-family: Copperplate, Papyrus, fantasy;
}

img
{
    height: auto;
    width: 500px;
}